<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1 class="display-5">online shop </h1>
    <br />
    <h3 class="display-6">
      e_shop with node js and postgersql
    </h3>
  </div>
</div>